.watchlater-page{
  padding: 20px;
  padding-left: 230px;
}

.watchlater-page h2{
  margin-bottom: 20px;
}

.watchlater-videos{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.watchlater-card{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f5f5f5;
  padding: 15px;
  border-radius: 12px;
}

.watchlater-link{
  display: flex;
  gap: 15px;
  text-decoration: none;
  color: black;
}

.watchlater-link img{
  width: 220px;
  height: 120px;
  object-fit: cover;
  border-radius: 10px;
}

.watchlater-link h3{
  margin-bottom: 8px;
}

.watchlater-link p,
.watchlater-link span{
  color: gray;
  font-size: 14px;
}

.remove-btn{
  background: rgb(216, 216, 216);
  color: black;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
}